<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="genericLib.listener"></listener>

<listener class-name="genericLib.ExtentReporterNG"></listener>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
    
      <class name="pageAction.fbLogin"/>
      <class name="pageAction.salesforce"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
